<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31" >
        <activity
            android:name=".ui.more.payment.PaymentHistory"
            android:exported="false" />
        <activity
            android:name=".utils.TestingActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.more.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.ShowMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.fragments.LoginAndSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.more.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.payment.PaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.more.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.EditCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.EditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.MessCommitteeMain"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.AlarmReceiver" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.theayushyadav11.MessEase.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razorpay_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".ui.widget.MenuWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/menu_widget_info" />
        </receiver>

        <service
            android:name=".ui.widget.MenuWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>